@media(max-width: 425px){
    .container{
    max-width: 320px;
    }
    .title{
        font-size: 22px;
        margin-top: 110px;
        padding-bottom: 14px;
    }
    .sub-title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 16px;
    }
    .hero-content {
        padding-top: 2px;
    }
    .sub-title-subtitle {
        font-size: 16px;
        font-weight: 500;
    }
    .content-title{
        font-size: 12px;
        font-weight: 500;
    }
    .col-4{
        width: 100%;
    }
    #hero .row {
        margin: 0;
    }
    #hero .col-4 {
        padding: 0px 80px;
    }
    .content-item {
        padding: 6px 10px;
        border-radius: 12px;
        margin-bottom: 12px;
    }
    .second-content-title {
        padding: 5px;
    }
    .d-flex{
        display: block;
    }
    /* second-section */
    .difference-bootcamp-title {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 48px;
    }
    .col-3{
        width: 100%;
    }
    .content-bootcamp {
        padding-top: 28px;
    }
    .verticalLine{
        display: none;
    }
    .row-wrap{
        background: none;
    }
    .profession-item{
        background: rgba(0, 163, 255, 0.8);
        margin-bottom: 59px;
    }
    .about-profession {
        font-size: 19px;
    }
    }
    .profession-content {
        font-size: 10px;
        padding: 8px 7px 13px;
    }
}
@media(max-width: 320px){
    .container{
    max-width: 100%;
    }
}